﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="test.aspx.vb" Inherits="test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery animationCounter.js Plugin Demos</title>
  
  </head>
    
    <body>
 <form runat="server" id="form1">
     <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
 </form>


      

 
  </body>
    
</html>
